// The latest settings can be found here:
// https://github.com/zurb/bower-foundation/blob/master/scss/foundation/_settings.scss

$row-width: 100%;
$body-bg: #333333;
$body-font-family: 'ff-enzo-web',sans-serif;
$body-font-color: #a1a1a1;

$small-range: (0em, 44.688em); /* 0, 715px */
$medium-range: (44.750em, 54.375em); /* 716px, 870px */
$large-range: (54.438em, 90em); /* 871px, 1440px */
