@import "settings";
@import "foundation";

$sidebar-width: rem-calc(240);
$sidebar-small-width: rem-calc(84);

$font-secondary-color: #ffffff;

.row.full {
  height: 100%;
  max-height: 100%;
}

#content {
  background-image: url('../image/Depositphotos_2389611_original.jpg');
  height: 100%;
  max-height: 100%;
  background-origin: padding-box;
  background-position: center bottom !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  right: 0;
  top: 0;
  left: $sidebar-small-width;

  section {
    text-align: center;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    top: 50%;
    position: absolute;
    width: 100%;

    &#home {
      color: $font-secondary-color;
      div.row {
        left: 50%;
        max-width: 1200px !important;
        position: relative;
        ransform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);

        font-size: rem-calc(26);

        .ico-link {
          min-width: rem-calc(210);
        }

        img {
          padding: 30px 0 10px;

          -webkit-transition: -webkit-transform 0.5s ease-in-out;
          -moz-transition: -moz-transform 0.5s ease-in-out;
          -o-transition: -o-transform 0.5s ease-in-out;
          -ms-transition: -ms-transform 0.5s ease-in-out;
          transition: transform 0.5s ease-in-out;

          &:hover {
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            transform: rotate(360deg);
          }
        }
      }
    }
  }
}

#sidebar {
  max-width: $sidebar-small-width;
  position: relative;
  width: $sidebar-small-width;
  color: $font-secondary-color;
  background: $body-bg;
  height: 100%;
  max-height: 100%;

  #logo {
    padding: rem-calc(45) 0 0;
  }

  ul.navigation {
    width: 100%;
    position: absolute;
    padding: 0;
    margin: 0;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    top: 50%;

    li.item {
      padding: rem-calc(5) 0;
      font-size: rem-calc(12);
      color: $body-font-color;

      list-style: none;

      &:hover {
        background: #007295;
      }

      strong {
        font-size: rem-calc(16);
        color: $font-secondary-color;
      }

      img {
        padding: rem-calc(5) rem-calc(25);
        -webkit-transition: -webkit-transform 0.5s ease-in-out;
        -moz-transition: -moz-transform 0.5s ease-in-out;
        -o-transition: -o-transform 0.5s ease-in-out;
        -ms-transition: -ms-transform 0.5s ease-in-out;
        transition: transform 0.5s ease-in-out;
      }

      &:hover img {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
  }

}

@media #{$large-up} {
  #sidebar {
    max-width: $sidebar-width;
    width: $sidebar-width;

    ul.navigation {
      li.item {
        padding: rem-calc(5) 0;
        font-size: rem-calc(12);
        color: $body-font-color;
      }
    }
  }

  #content {
    left: $sidebar-width;
  }

  color: green !important;
}

@media only screen and (max-height: 23.125em) {
  #sidebar #logo {
    padding: rem-calc(10) 0 0 0;
  }
}