// The latest settings can be found here:
// https://github.com/zurb/bower-foundation/blob/master/scss/foundation/_settings.scss

$row-width: 100%;
$body-bg: #333333;
$body-font-family: 'ff-enzo-web',sans-serif;
$body-font-color: #a1a1a1;

$small-range: (0em, 45.625em); /* 0, 730px */
$medium-range: (45.688em, 55.313em); /* 731px, 885px */
$large-range: (55.375em, 90em); /* 886px, 1440px */
